body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .card-output {
    margin-top: 20px;
    font-size: 16px;
  }
  
  .card-output strong {
    display: inline-block;
    width: 300px;
  }
  
  header {
    margin-right: 100px;
    width: 600px;
  }

  header h3{
    text-decoration: underline;
  }

  header a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  header li {
    margin: 10px;
  }

  header a:hover{
    font-weight: lighter;
  }